# Ignore all files but the README, .gitignore, and the onces specified below
/*
!.config
!.config/*
!README.md
!.gitignore

# Don't ignore stow related files
!install*
!.stow*

# won't ignore the following files
# i3 config
!i3/
!i3status/

# neovim config
!nvim/
!.config/nvim/vimModeStateDiagram.svg

# shell utility scripts
!.utility/

# octave config
!.octave/
!.octaverc

# zsh oh-my-zsh with powerlevel10k
!.zshrc
!.config/zsh/
!.config/zsh/aliases
!.config/zsh/shortcuts
