# Terminal
bindsym Ctrl+$alt+t exec konsole
# web navigator
bindsym $mod+Shift+f exec firefox
# files
bindsym $mod+Shift+x exec dolphin
# Music
bindsym $mod+Shift+s exec spotify

# Launch some interesting programs
bindsym $mod+a mode "$APPS"
mode "$APPS" {
    bindsym t exec thunderbird
    bindsym l exec $(wine .wine/drive_c/Program\ Files/LTC/LTspiceXVII/XVIIx64.exe)
    bindsym k exec kcolorchooser
    bindsym c exec kalendar

    bindsym q mode "default"
    bindsym Escape mode "default"
    bindsym Return mode "default"
}

# Some helpful scripts
bindsym $mod+Shift+d exec $(sh ~/.utility/i3/launch_directories.sh)
bindsym $mod+Shift+p exec $(sh ~/.utility/common/get_documents.sh)
bindsym $mod+Shift+o exec $(sh ~/.utility/common/change_sink.sh)

# Audio/Media
bindsym $mod+Up exec $(sh ~/.utility/i3/update_volume.sh UP)
bindsym $mod+Down exec $(sh ~/.utility/i3/update_volume.sh DOWN)
bindsym $mod+Left exec playerctl previous
bindsym $mod+Right exec playerctl next
